{% extends "layout.html" %}

{% block title %}
    Login - STUDENTLINK
{% endblock %}

{% block body %}
<div class="grayDiv">
    <div class="whiteDiv">
        <div class="loginContainer">
            <h1>Login</h1>
            <div class="login-form">
                <form method="POST" action="{{ url_for('login') }}">
                    <h2>Sign in to your SL account</h2>
                    {% if error %}
                        <div class="alert-danger">{{ error }}</div>
                    {% endif %}
                    <label for="username">Username:</label>
                    <input type="text" id="user" name="username-login" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password-login" required>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}