{% extends 'layout.html' %}

{% block body %}
<div class="grayDiv">
    <div class="whiteDiv">
        <div class="headerContainer">
            <h1>{{ forum.name }}</h1>
            <a class="newThread" href="{{ url_for('new_thread', forum_id=forum.id) }}">Create Thread</a>
        </div>
        <ul class="forum-list">
        {% for thread in threads[::-1] %}
           <li><a href="{{ url_for('thread', thread_id=thread.id) }}">{{ thread.title }} <p class="showUser">by {{ thread.username }} at {{ thread.created_at }}</p></a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}