{% extends 'layout.html' %}

{% block body %}
<div class="grayDiv">
    <div class="whiteDiv">
        <div class="headerContainer">
            <h1><a class="goBack" href="{{ url_for('forums') }}">{{ forum.name }}</a></h1>
            {% if current_user.is_authenticated %}
            <a class="newThread" href="{{ url_for('new_thread', forum_id=forum.id) }}">Create Thread</a>
                {% else %}
                {% endif %}
        </div>
        <ul class="forum-list" id="thread-list">
            {% include 'thread_list.html' %}
        </ul>
    </div>
</div>

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
  function updateThreadList() {
    $.get('{{ url_for("get_threads", forum_id=forum.id) }}', function(data) {
      $('#thread-list').html(data);
    });
  }

  // Update the thread list initially
  updateThreadList();

  // Update the thread list every 10 seconds
  setInterval(updateThreadList, 10000);
});
</script>
{% endblock %}
{% endblock %}